/*parallax*/
.parallax-container {
    height:600px;
}
/*navbar*/
.nav-wrapper{
    background: #343A40;
}
#navMargin{
    margin-left:30px;
}
a{
    font-size: 20px;
}
/*footer*/
.page-footer{
    background: #343A40;
}