/*body{
  background-image: url(https://images.wallpaperscraft.com/image/girl_anime_night_comfort_book_103117_1920x1080.jpg);
background-size:cover;
}*/
.parallax-container {
      height:600px;
    }