/*banniere*/
.banniere{
    text-align: center;
    background-image: url(http://a54.idata.over-blog.com/4/36/95/62/Blog/BANNIERE-MANGA-JUMP-2013-copie-2.png);
    height: 200px;
    background-position: center;
    background-size: cover;
}
/* ancre de la nav et margin des ancre*/
a{
    color: black;
    font-size: 20px;
    text-align: center;
}
#navMargin{
    margin-left:20px;
}
/*couleur du corps de la page*/
body{
    background:#232e4f;
}
/*espace connection*/
#marginInscript{
    margin-left:20px;
}
/*accordion*/
li{
    color: white;
}
/*chat et le stream*/
#streamChat{
    margin-top: 40px;
}
.chat{
    margin-top:40px;
}
/*TABLEAU*/
table{
    text-align:center;
    margin-top: 40px;
}
/*video*/
.clip{
    margin-top: 20px;
}
.clip2{
    margin-top: 20px;
}
.clip3{
    margin-top: 20px;
}
.clip4{
    margin-top: 20px;
}