/*banniere*/
.banniere{
  text-align: center;
  background-image:url(https://sen.flam.me/forum/uploads/monthly_2016_05/overwatch_banniere_001.jpg.cb7dfc767670aa931dafafd9556b5b81.jpg.1a3b5cc8137ec55d4ffdfab62931998e.jpg);
  height: 452px;
  background-position: center;
  background-size: cover;
}
/* ancre de la nav et margin des ancre*/
a{
  color: black;
  font-size: 20px;
}
#navMargin{
  margin-left:20px;
}
/*couleur du corps de la page*/
body{
  background:#322447;
}
.fond{
    background:#232e4f;
}
/*espace connection*/
#marginInscript{
  margin-left:20px;
}
/*accordion*/
li{
  color: white;
}
/*chat et le stream*/
#streamChat{
    margin-top: 40px;
}
.chat{
    margin-top:40px;
}
/*TABLEAU*/
table{
    text-align:center;
    margin-top: 40px;
}
/*video*/
.clip{
    margin-top: 20px;
}
.clip2{
    margin-top: 20px;
}
.clip3{
    margin-top: 20px;
}
.clip4{
    margin-top: 20px;
}
#foot{
    margin-top: 20px;
    color: white;
}