/*footer*/
body{
    background:#633f46;
}
.page-footer{
    background: #343A40;
}
/*navbar*/
#navMargin{
    margin-left:30px;
}
a{
    font-size: 20px;
}
.nav-wrapper{
    background: #343A40;
}
/*video*/
.clip{
    margin-top: 20px;
}
.clip2{
    margin-top: 20px;
}
.clip3{
    margin-top: 20px;
}
.clip4{
    margin-top: 20px;
}
.paragraphe{
    margin-top: 15px;
}